<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a href="https://www.walgreens.com/login.jsp?ru=/rx-refillhub/refillhub" target="_blank"
        class="navbar-brand">Walgreens</a>
      <a href="https://www.novanthealth.org/mynovant.aspx" target="_blank"
        class="navbar-brand">Novant My Chart</a>
        <a href="https://my.atriumhealth.org/MyAtriumHealth/Authentication/Login?" target="_blank"
        class="navbar-brand">Atrium My Chart</a>

    </div>
  </div>
</nav>

<!-- modal for notes -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="modal fade" id="noteModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5>New Note</h5>
              <!-- <button class="close" type="button" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span></button> -->
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="note" class="col-form-label">Note:</label>
                  <textarea id="newNote" type="note" onfocus="this.value=''" name="newNote" cols="30" rows="10"
                    class="form-control"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" id="noteClose" type="button" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" id="noteSave" type="button">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- modal for Medications -->

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="modal fade" id="medModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5>New Medication</h5>
              <!-- <button class="close" type="button" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span></button> -->
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="note" class="col-form-label">Medication Name:</label>
                  <textarea id="medicationName" onfocus="this.value=''" name="medicationName" type="medicationName"
                    cols="30" rows="1" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="note" class="col-form-label">Time of Day:</label>
                  <textarea id="timeOfDay" onfocus="this.value=''" name="timeOfDay" type="timeOfDay" cols="30" rows="1"
                    class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="note" class="col-form-label">Dosage:</label>
                  <textarea id="dosage" onfocus="this.value=''" name="dosage" type="dosage" cols="30" rows="1"
                    class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="note" class="col-form-label">Description:</label>
                  <textarea id="description" onfocus="this.value=''" name="description" type="description" cols="30"
                    rows="1" class="form-control"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" id="medClose" type="button" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" id="medSave" type="button">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 currentMed">
      <h2>Current Medications</h2>
      <button class="btn btn-primary" id="medAdd" type="button">Add Medication</button>
      <table id="meds">
        <thread>
          <tr>
            <th class="col-md-2">Medication Name</th>
            <th class="col-md-2">Time of Day</th>
            <th class="col-md-2">Dosage</th>
            <th class="col-md-2">Description</th>
            <th class="col-md-1">Edit</th>
            <th class="col-md-1">Delete</th>


          </tr>
        </thread>
        <tbody id="medData">
          {{!-- <tr> --}}
            {{!-- <td id="medName"></td>
            <td id="medTime"></td>
            <td id="medDose"></td>
            <td id="medDesc"></td> --}}
            {{!--
          </tr> --}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 notes">
      <h2>Notes:</h2>
      <button class="btn btn-primary" id="noteAdd" type="button">New Note</button>
      <div id="notes"></div>
    </div>
  </div>

</div>

<script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="js/members.js"></script>